<launch>
	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find msg_conversion)/rviz_config/demo.rviz"/>

	<!-- main -->
	<node pkg="msg_conversion" type="pc_zxy_to_xyz" name="pc_zxy_to_xyz" output="screen">
		<remap from="/point_cloud" to="/laser_cloud_surround"/>
		<param name="publish_frame" type="string" value="map"/>
	</node>
</launch>
